.successModal-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9000;
  background-color: rgba(black, 0.7);
  .successModal {
    width: 40%;
    margin: 35vh auto;
    background-color: $white-darker-2;
    overflow-y: hidden;
    text-align: center;
    border-radius: 30px;
    padding: 30px 100px;
    font-size: 1.7vw;
    .icon-wrapper {
      color: green;
      .successIcon {
        animation: renderIcon 0.5s;
        width: 5vw;
        height: 5vh;
      }
    }
  }
}
.failModal-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9000;
  background-color: rgba(black, 0.7);
  padding: 1vw;
  .closeIcon {
    color: $white-darker-2;
    cursor: pointer;
    font-size: 2.5vw;
  }
  .failModal {
    width: 40%;
    margin: 35vh auto;
    background-color: $white-darker-2;
    overflow-y: hidden;
    text-align: center;
    border-radius: 30px;
    padding: 30px 100px;
    font-size: 1.7vw;
    .icon-wrapper {
      color: red;
      .failIcon {
        animation: renderIcon 0.5s;
        width: 5vw;
        height: 5vh;
      }
    }
  }
}
@media (max-width: 767px) and (min-width: 320px) {
  .successModal-wrapper {
    .successModal {
      padding: 0;
      width: 100%;
      font-size: 5vw;
      .icon-wrapper {
        color: green;
        .successIcon {
          animation: renderIcon 0.5s;
          width: 7vw;
          height: 7vh;
        }
      }
    }
  }
  .failModal-wrapper {
    .failModal {
      padding: 0;
      width: 100%;
      font-size: 5vw;
      .icon-wrapper {
        color: red;
        .failIcon {
          animation: renderIcon 0.5s;
          width: 7vw;
          height: 7vh;
        }
      }
    }
    .closeIcon {
      color: $white-darker-2;
      cursor: pointer;
      font-size: 9vw;
    }
  }
}
@keyframes renderIcon {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
