#ModalTaoLichChieu{
    background-color: $dark-25!important;
    .modal-content{
        margin-top: 10vh;
        form{
            label{
                font-size: 19px;
                font-weight: 700;
                font-family: Helvetica;
            }
        }
    }
}